document.pdf
/tmp/
/.metadata/
.metadata
.synctex.gz
RemoteSystemsTempFiles
*.gz(busy)
.aux
.log
.blg
.bbl
.out
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*~
*.backup
*.orig
/document-blx.bib
*.lol
/~$Presentazione.pptx
/.settings/
*.pdf
